
// --- Color --- //

// Color Variations Function:

// Description:
// Provide a color and step to get a lighter or darker color variation.
// If step provided is bigger than the step variation limit the lighter or darker color available will be returned.

// Usage:
// $c-primary-light: color-variation($c-primary, 1) -> 1 step lighter
// $c-primary-lighter: color-variation($c-primary, 2) -> 2 steps lighter
// $c-primary-dark: color-variation($c-primary, -2) -> 2 steps darker
// $c-primary-darkest: color-variation($c-primary, -4) -> 4 steps darker

$color-variation-dark: #2d3133 !default;
$color-variation-light: white !default;
$c-base: #079860  ;
$color-lighten-steps: 30, 50, 75, 90, 95 !default;
$color-darken-steps: 15, 30, 55, 75 !default;


@function color-variation(
  $color,
  $step: 0,
  $dark: $color-variation-dark,
  $light: $color-variation-light
) {
  $positive-steps: length($color-lighten-steps);
  $negative-steps: length($color-darken-steps);

  $variation: $color;

  @if ($step > $positive-steps) {
    $variation: mix($light, $color, nth($color-lighten-steps, $positive-steps));
  } @else if ($step < -$negative-steps) {
    $variation: mix($dark, $color, nth($color-darken-steps, $negative-steps));
  } @else if ($step < 0) {
    $variation: mix($dark, $color, nth($color-darken-steps, -$step));
  } @else if ($step > 0) {
    $variation: mix($light, $color, nth($color-lighten-steps, $step));
  }

  @return $variation;
}


$c-light-1: color-variation($c-base, 1);
$c-light-2: color-variation($c-base, 2);
$c-light-3: color-variation($c-base, 3);
$c-light-4: color-variation($c-base, 4);
$c-light-5: color-variation($c-base, 5);


// colormaker color dark gradients
$c-dark-1: color-variation($c-base, -1);
$c-dark-2: color-variation($c-base, -2);
$c-dark-3: color-variation($c-base, -3);
$c-dark-4: color-variation($c-base, -4);

div{
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 16px;
  color: white;
  font-family: sans-serif; 
  text-transform: uppercase;
}

.colormaker{
  background-color: $c-base;
  &::after {
    content: "#{$c-base}";
  }
}
.light-1{
  background-color: $c-light-1;
  color:black;
  &::after {
    content: "#{$c-light-1}";
  }
}
.light-2{
  background-color: $c-light-2;
  color:black;
  &::after {
    content: "#{$c-light-2}";
  }
}
.light-3{
  background-color: $c-light-3;
  color:black;
  &::after {
    content: "#{$c-light-3}";
  }
}
.light-4{
  background-color: $c-light-4;
  color:black;
  &::after {
    content: "#{$c-light-4}";
  }
}
.light-5{
  background-color: $c-light-5;
  color:black;
  &::after {
    content: "#{$c-light-5}";
  }
}
.dark-1{
  background-color: $c-dark-1;
  &::after {
    content: "#{$c-dark-1}";
  }
}
.dark-2{
  background-color: $c-dark-2;
  &::after {
    content: "#{$c-dark-2}";
  }
}
.dark-3{
  background-color: $c-dark-3;
  &::after {
    content: "#{$c-dark-3}";
  }
}
.dark-4{
  background-color: $c-dark-4;
  &::after {
    content: "#{$c-dark-4}";
  }
}

